/*Ubuntu*/
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Ubuntu Mono */
/* font-family: 'Ubuntu Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Merriweather Sans*/
/* font-family: 'Merriweather Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-primary: #1f95fd;
  --color-secondary: #4fe8e4;
  --color-tertiary: #fff;
  --color-quaternary: #000;
  --color-text-banner: #fff;
  --color-bg1: #fcfcfc;
  --color-bg2: #cccccc;
  --color-bg3: #fff;
  /* --color-gray: #5d5d5d; */
  --background-dark-primary: #31333b;
  --background-dark-primary2: #313131;
  --background-dark-secondary: #3d3e42;
  --background-dark-secondary2: #3d3d3d;
  --gradient-primary: linear-gradient(30deg, #1f95fd 0, #4fe8e4 100%);
  --gradient-secondary: linear-gradient(30deg, #34bbff 0, #28eedb 100%);
  --box-shadow: 10px 10px 25px 1px #C0C5CE;
  --border-radius: 8px;
}


/* Dark mode */
.dark-mode:root {
  --color-tertiary: #000;
  --color-quaternary: #fff;
  --color-bg1: #31333b;
  --color-bg2: #3d3e42;
  --color-bg3: #000;
}

.dark-mode #img-wrapper img {
  filter: grayscale(1) opacity(0.7);
}

.dark-mode .navigation {
  box-shadow: 0 0.05rem 0.2rem var(--color-primary);
}

.dark-mode .navigation .bi-sun {
  display: none;
}

.dark-mode .navigation .bi-moon {
  display: block;
}

/* Ligth mode */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat";
}

/* Header */
#img-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #000000 0%, #000000 40%, rgb(255, 255, 255) 100%);
  overflow: hidden;
}

#img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: decrease 8s;
}

.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--color-bg1);
  box-shadow: 0 0.1rem 0.5rem #ccc;
}

.navigation img {
  width: 50px;
  animation: spin 1s;
}

.navigation img:hover {
  animation: spin 1s;
}

.navigation #change-theme {
  display: none;
}

.navigation .bi {
  cursor: pointer;
  font-size: 1.3em;
}

.navigation .bi-sun {
  color: var(--color-primary);
}

.navigation .bi-moon {
  color: var(--color-primary);
  display: none;
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6em;
  background-color: var(--color-bg1);
  transition: right 0.3s;
  padding: 2em 0;
}

/* Criando animação de sumir e aparecer adicionando a classe pelo javascript */
.nav-menu.active {
  right: 0;
}

.nav-menu li {}

.nav-menu a {
  color: var(--color-quaternary);
  font-weight: 500;
  transition: all 0.4s;
}

.menu-hamburger {
  cursor: pointer;
  display: block;
}

/* Criando animação de girar adicionando a classe pelo javascript */
.menu-hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-hamburger .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--color-quaternary);
  margin: 5px auto;
  transition: all 0.3s;
}

.banner {
  position: absolute;
  top: 35%;
  left: 15%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5em;
}

.banner h1 {
  color: var(--color-text-banner);
  font-size: 2em;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0.3rem 0.4rem 3px rgba(0, 0, 0, 0.4);
}

.banner p {
  color: var(--color-text-banner);
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 1.5px;
  text-shadow: 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.4);
}

.banner button {
  padding: 8px 16px;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  border: 3px solid var(--color-primary);
  box-shadow: 0 0 0.5rem var(--color-primary);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 0.1rem var(--color-primary);
  transition: all 0.5s;
}

/* Skills-information */
#skills-information {
  width: 100%;
  height: auto;
  background-color: var(--color-bg1);
}

#skills-information h2 {
  color: var(--color-quaternary);
  padding: 2em 0;
  text-align: center;
  text-shadow: 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  padding: 0 2em 2em;
}

.skill {
  width: 150px;
  height: 150px;
  background-color: var(--color-bg2);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 1px var(--color-secondary);
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-grow: 1;
}

.skill img {
  height: 60px;
}

.skill h4 {
  color: var(--color-quaternary);
}

/* Footer */
#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--color-bg3);
}

#footer img {
  width: 80px;
}


@keyframes decrease {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {

  /* Header */
  .navigation {
    justify-content: space-between;
    padding: 1em 4em;
  }

  .nav-menu {
    background-color: none;
    position: static;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding: 0;
  }

  .menu-hamburger {
    display: none;
  }

  .banner {
    left: 20%;
  }

  /* Footer */
  #footer img {
    width: 90px;
  }
}

@media (min-width: 1024px) {

  /* Header */
  .navigation .bi {
    font-size: 1.5em;
  }

  .nav-menu a {
    letter-spacing: 1.5px;
  }

  .nav-menu a:hover {
    color: var(--color-primary);
  }

  .banner {
    left: 25%;
  }

  .banner button:hover {
    border: 3px solid var(--color-secondary);
    background: var(--gradient-secondary);
    box-shadow: 0 0 0.5rem var(--color-secondary);
    color: var(--color-tertiary);
    text-shadow: 0 0 0.1rem var(--color-secondary);
  }

  /* Skills-information */
  .skill:hover {
    background: var(--gradient-primary);
  }

  /* Footer */
  #footer img {
    width: 100px;
  }
}

@media (min-width: 1200px) {

  /* Header */
  .nav-menu {
    gap: 4em;
  }

  .banner {
    left: 30%;
    gap: 2em;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner p {
    font-size: 1.5em;
  }

  .banner button {
    font-size: 1.2em;
  }
}